<h1>Admin</h1>
<h2>Team 1: <%= @game_state.team_1_points %> | <%= "X" * @game_state.team_1_x %></h2>
<h2>Team 2: <%= @game_state.team_2_points %> | <%= "X" * @game_state.team_2_x %></h2>
<h2>State: <%= @game_state.state %></h2>
<h2>Frage: <%= @current_question.text %></h2>


<% if @game_state.starting? %>

  <%= bootstrap_admin_button_form("Frage stellen", "/admin/change_state", state: GameState::STATE_SHOWING_QUESTION) %>

<% elsif @game_state.showing_question? %>

  <%= bootstrap_admin_button_form("Antworten schließen", "/admin/change_state", state: GameState::STATE_GUESSING) %>

<% elsif @game_state.guessing? %>

  <%# <%= bootstrap_admin_button_form("Nächste Frage", "/admin/change_state", { state: GameState::STATE_SHOWING_QUESTION }, "btn-danger pull-right") %>

  <%= bootstrap_admin_button_form("Punkte updaten", "/admin/update_points", {}, "btn-danger") %>

  <% if Question.find_by_number(GameState.instance.question_number + 1) %>
    <%= bootstrap_admin_button_form("Nächste Frage", "/admin/next_question", { state: GameState::STATE_SHOWING_QUESTION }, "btn-danger pull-right") %>
  <% else %>
    <%= bootstrap_admin_button_form("Spiel beenden", "/admin/change_state", { state: GameState::STATE_GAME_OVER }, "btn-danger pull-right") %>
  <% end %>

<% end %>

<div style='margin-bottom: 50px;'>&nbsp;</div>

<% if @game_state.guessing? %>

  <h2>Antworten der Präsidenten (PUNKT, kein KOMMA)</h2>

  <form method="post" action="/admin/accept_president_answer">
    Rollinger: <input type="text" name="rollinger" value="<%= @current_question.answer_rollinger %>"></input>
    Luecke: <input type="text" name="luecke" value="<%= @current_question.answer_luecke %>"></input>
    <input type="submit" name="abschicken" value="einloggen"></input>
  </form>

  <h2>Durchschnitt: <%= @current_question.average_estimation %></h2>
  <% @current_question.estimation_answers.order("value DESC").each do |estimation_answer| %>
    <%= bootstrap_admin_button_form(estimation_answer.value, "/admin/remove_estimation_answer", { answer_id: estimation_answer.id }, "btn-danger") %>
  <% end %>
<% end %>


