<center><h2 style="margin-top: 0px; padding-top: 15px; margin-bottom: 15px;"><%= question.text %></h2></center>

<center>
  <table cellspacing="5px" style="margin-top: <%= (8 - answers.count) * 55 / 2 %>px;">
    <% answers.each_with_index do |answer, idx| %>
      <tr>
        <td><%= idx + 1 %></td>
        <% if answer.visible? %>
          <td style="width: 750px;"><%= answer.content %></td>
          <td style="width: 60px;"><%= answer.normalized_points %></td>
        <% else %>
          <script type='script/javascript'>
            var answer_timer_<%= answer.id %> = setInterval(function(){
              observe_answer_state(<%= answer.id %>);
            }, 1000);
          </script>
          <td style="width: 750px;"><span id="answer-<%= answer.id %>"><%= "..." * 20 %></span></td>
          <td style="width: 60px;"><span id="points-answer-<%= answer.id %>">""</span></td>
        <% end %>
      </tr>
    <% end %>
  </table>

  <% if GameState.instance.guessing_with_choices? %>
    <div style="padding-left: 50px; padding-right: 50px; padding-top: 20px; font-size: 25px; width: 921px; position: absolute; left: 0px; top: 560px;">
      <center>
        <%= choices %>
      </center>
    </div>
  <% end %>
</center>
